# Node.js / Next.js (Frontend)
node_modules/
.next/
public/videos/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / FastAPI (Backend)
venv/
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store

# Environment Variables
.env
backend/.env
frontend/.env.local

# IDE / Editor Settings
.vscode/
.idea/
*.swp
*.sublime-workspacef

# Ignore learning schedule output
backend/others/
backend/utils/skill_extractor_helper/Nous-Hermes-2-Mistral-7B-DPO.Q4_K_M.gguf
backend/data/job_map.csv
