pandas
numpy
scikit-learn
matplotlib
seaborn
fastapi
uvicorn
sqlalchemy
pymysql
alembic
requests
beautifulsoup4
google-api-python-client
dotenv
selenium
isodate
mysql-connector-python
bcrypt
passlib[bcrypt]
python-jose[cryptography]
textract
python-multipart
pymupdf
sentence-transformers
cachetools
rapidfuzz